<h3>Send it with the following contents.</h3>

<%= form_with(model: @tweeet, url: tweeets_path, local: true) do |form| %>
  <%= form.hidden_field :tweet %>
  <p>Title:<%= @tweeet.tweet %></p>
 
 <p>
     <%= form.submit  "submit" %>
 </p>
<% end %>

<%= form_with(model: @tweeet, url: new_tweeet_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :tweet %>
  
  <p>
      <%= form.submit "back" %>
  </p>
<% end %>