<p id="notice"><%= notice %></p>

<h1>Tweeets</h1>

    <% @tweeets.each do |tweeet| %>
      
        <h2><%= tweeet.tweet %></h2>
        <p><%= link_to 'Show', tweeet %>
        <%= link_to 'Edit', edit_tweeet_path(tweeet) %>
        <%= link_to 'Destroy', tweeet, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <hr/>
    <% end %>


<%= link_to 'New Tweeet', new_tweeet_path %>
